{% extends "base.html" %}
{% block title %}Мой курс{% endblock %}
{% block content %}
    <h1>Мой курс</h1>
    <div class="module">
        {% for course in object_list %}
            <div class="course-info">
                <h3>{{ course.title }}</h3>
                <p>
                    <a href="{% url "course_edit" course.id %}">Изменить</a>
                    <a href="{% url "course_delete" course.id %}">Удалить</a>
                </p>
            </div>
        {% empty %}
            <p>У вас нет курсов, создавайте!</p>
        {% endfor %}
        <p>
            <a href="{% url "course_create" %}" class="button">Создать курс</a>
        </p>
    </div>
{% endblock %}